<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> PRIVACY DOCUMENT</h1>
    <a href="/privacypolicy.pdf" target="_blank"> download privacy policy </a>
</body>
</html>